<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
       	<h5>
	    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/LMARULANDA/parqueaderoBackend">Parking Lot Backend</a></strong>
	     - Web App to make payments of parking(motorcycles and cars) using SpringBoot

    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/LMARULANDA/parqueaderoFrontend">Parking Lot Frontend</a></strong>
			- Web App to make payments of parking(motorcycles and cars) using Angular5, HTML and CSS
		</h5>
    </div>
  </div>
</div>
</section>
